.column {
  width: 46%;
  margin: 2%;
}

.row {
  margin-left: 0px;
}

.center {
  width: 60%;
  height: 50%;
  margin: 5% auto;
  padding: 2rem 5rem 2rem 5rem;
}

.fb-btn {
  margin-top: 30%;
  margin-left: 10%;
  height: 40%;
  width: 80%;
  border-radius: 3rem !important;
  padding-top: 12% !important;
  font-size: 2rem !important;
}

.error {
  font-weight: bold;
  color: red;
}